body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  margin: 0px 5px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #727272;
  scale: 1.05
}
a:active {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-column {
  justify-content: center;
}

.nav-container {
  justify-content: space-between;
}

#nav-logo {
  margin: 10px;
  font-family: 'Righteous', cursive;
}

#header {
  background-color: white;
  filter: drop-shadow(1px 1px 2px #c7b6be);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  color: #103942
}

body {
  background-image: url('https://i.imgur.com/KHI0Bvf.jpg');
  background-attachment: fixed;
  background-position: center-center;
  background-repeat: repeat-y;
  background-size: cover; 
  font-family: 'Lato', sans-serif;
  color:#103942
}

.nav-links {
  justify-content: space-between;
}

.card, .main-card {
  background-color: #ffede5;
  filter: drop-shadow(1px 1px 2px #c7b6be);
  margin: 20px 0px;
  border-radius: 10px}


.main-card:hover, .attend-card:hover { 
  transform: scale(1.05);
  filter: drop-shadow(10px 10px 20px #c7b6be);
}

.event-card:hover {
  opacity: 0.6;
}

.buffer {
  padding: 20px;
}

.events-container {
  width: 75%;
  max-width: 850px;
  min-width: 500px;
  justify-content: space-between;
}

.attending-card-container {
  width: 30%;
}

.hosting-card-container {
  width: 65%;
}

.uhh {
  border: 2px solid red;
}

.comment-header {
  display: flex;
  align-items: center;
}

#comment-header-username {
  margin-left: 4px;
}

.item-listing {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2px;
}

#item-listing-content {
  margin-left: 4px;
}

.col {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#register-button, #login-btn, #reg-btn, #sub-btn, .share-event-button, #edit-btn, #delete-btn, #copy-btn, #sub-btn-2, .signin-btn, .register-btn, #rsvp-btn {
  width: 100px;
  text-align: center;
  background-color: #fff6f2; /* Green */
  border: 2px solid #89abb4; 
  color: #89abb4;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s; 
}

#register-button:hover, #login-btn:hover, #reg-btn:hover, #sub-btn:hover, .share-event-button:hover, #copy-btn:hover, #edit-btn:hover, #delete-btn:hover, #sub-btn-2:hover, .signin-btn:hover, .register-btn:hover, #add-btn:hover, #delete-item-btn:hover, #rsvp-btn:hover {
  background-color: #89abb4;
  color: #fff6f2
}

.the-btn, #login-button {
  text-align: right;
  margin: 8px 30px;
}

.hello, .things {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 30px
}

.input-reg {
  width: 30vw;
}

.login-input {
  width: 275px;
}

.new-user {
  margin: 8px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newbie {
  margin: 0px 50px 0px 0px
}

#homepage-header {
  margin: 40px;
  color: #103942;
  border: 2px solid rgba(137, 171, 180, 0.6);
  padding: 10px 50px; 
  background-color: rgba(137, 171, 180, 0.6);
  border-radius: 10px
  
}

.event-name {
  border-bottom: 2px solid #89abb4;
  margin: 5px 0px 10px 0px;
  color: #103942;

}

.title {
  margin: 0px 0px 0px 0px;
  color: #103942;
  border: 2px solid rgba(137, 171, 180, 0.6);
  padding: 3px;
  background-color: rgba(137, 171, 180, 0.6);
  border-radius: 8px;
}

.details-description {
  color: #103942
}

.dateLoc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-event-logo {
  color:#103942
}

.the-form {
  color:#103942;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.e-name, .e-date, .e-loc, .e-des {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px
}

#eventName {
  margin: 10px
}

#description {
  margin: 0px 0px 0px 40px
}

.sub-event-btn {
  text-align: center;
}

input[type=text], textarea, input[type="datetime-local"], input[type=password] {
  border: 2px solid #fdd1b6;
  background-color: solid #fff6f2;
}

.event-detail-header, .your-event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px
}

#event-name {
  margin: -10px;
}

#edit-btn, #delete-btn {
  margin: 0px 0px 10px 10px
}

.edit-and-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#date, #location, #description {
  margin: 10px
}

.share-deets, .share-section {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

#add-btn, #delete-item-btn {
  width: 50px;
  text-align: center;
  background-color: #fff6f2; /* Green */
  border: 2px solid #89abb4; 
  color: #89abb4;
  padding: 2px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.2s; 
  margin: 0px 0px 0px 10px
}

#delete-item-btn {
  width: 25px
}

.items-list-of-things {
  margin: 10px 5px 5px 20px
}

.add-item-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#itemName {
  width: 20vw;
  height: 20px
}

.comment {
  background-color: rgba(137, 171, 180, 0.3);
  border-radius: 10px;
}

.comment-header, .comment-content, .comment-date {
  margin: 20px 20px
}

.comment-date {
  text-align: right
}

#potlucky:hover {
  color: #fab4b6
}

.attendee-listing {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 20px 10px
}

#attendee-listing-content {
  margin: 10px
}
 
#attendee-listing-content:hover {
  transform: scale(1.05);
}

.indent {
  margin: 10px 0px 20px 10px;
}

.bring-me {
  margin: 5px 5px 5px 10px
}